<h1>Editing Ticket Purchase</h1>

<%= render 'form' %>

# <%= link_to 'Edit', edit_event_ticket_ticket_purchase_path(@event,@ticket,@ticket_purchase) %> |
# <%= link_to 'Back', event_ticket_ticket_purchases_path %>