

<div class="col-sm-12 well featured center">
<p>
<h1 style="text-align:center"> Explore Membership </h1>
<!-- <h2 style="text-align:center"> FREE to explore </h2> -->
</p>
</div>


<div class="row col-sm-3">
<h1>We are invite only.</h1>
<h2><a href="mailto:joshua@karmagrove.com?subject=Ask to be invited">Request an invite</a></h2>
</div>

<div id="welcome" class="row col-sm-9">
  <div class="hero">
     <iframe class="hero-video" src="https://player.vimeo.com/video/141233049" width="75%" height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

</div>
