<ul class="carrousel-orbit" data-orbit>
  <li>
    <%=  link_to image_tag("photo1.jpg"), "/Get-Involved" %>
    <div class="orbit-caption">
     Each batch of Karma coins is locally prepared with love and superfood 
    </div>
  </li>
  <li class="active">
    <%=  link_to image_tag("circle.jpg"), "/" %>
    <div class="orbit-caption">
       Now anyone can use Circle to give as they receive 
    </div>
  </li>
  <li>
   <%=  link_to image_tag("karmabar.jpg"), "/" %>
    <div class="orbit-caption">
       The superfoods color reveals the vibrant life nourishing nutrient profile 
    </div>
  </li>
</ul>