<div class="row well">
  <div class="col-sm-8">
     <h3>
     Activate your account by connecting with Stripe. You will need your personal and banking account information.  By connecting with Stripe, Karma Grove is able to offer you the service of charging credit cards and depositing the money into your bank account.*  
     </h3>
   </div>

  <div class="col-sm-4">
  <%= link_to image_tag('stripe-blue@2x.png'), user_omniauth_authorize_path(:stripe_connect) %>
  </div>

  <% if current_user.role == "charity_admin" %>
    <div class="col-sm-8">
     <h5 class="notice">
     *We do not have access to any of your banking information stored in Stripe.  We receive a token that allows us to deposit our members' donated money into your account on a monthly basis.
     </h5>
     
   </div>
  <% else %>
    <div class="col-sm-8">
     <h5 class="notice">
     *We do not have access to any of your banking information stored in Stripe.  By using Stripe, you will be able to access all of Karma Grove's features and accept credit card payments.  Stripe will deposit any charges you make in your bank account (minus fees and <%=current_user.donation_rate%>% donation to charity of your choice).  The first transaction you make will be deposited within 7 business days and any transactions thereafter will be deposited within 2 to 5 business days. <a href="https://stripe.com/docs/transfers" target="new">More information on Stripe transfers. </a>
     </h5>
   </div>
   <% end %>
    
    <a href="http://www.businessinsider.com/stripe-the-invisible-5-billion-start-up-powering-the-internet-economy-2015-9" target="new"> What is stripe? </a>
 </div>