<div class="row well">
 <div class="col-sm-4">
  <%= link_to image_tag('stripe-blue@2x.png'), user_omniauth_authorize_path(:stripe_connect) %>
  </div>
  <div class="col-sm-8">
     <h3>
     Activate your account by connecting with stripe
     </h3>
   </div>
    
 </div>