
  <div class="row well">
  <div class="col-sm-12">
  <%= current_user.name %>

    <% if current_user.charity_users.length > 0 && current_user.charity_users.where(:role => 1).length > 0 && current_user.charity_users.where(:role => 1).first.charity %>
     <div class="well">
      <p><h3> Current charity you administer <%= current_user.charity_users.where(:role => 1).first.charity.name %> </h3></p>
      </div>
    <% else %>

    <h3> <a href="/charities/new"> Complete your profile - add your charity information </a></h3>
    <% end %>

  </div>
  </div>