<div class="row">
  <h2> The Story of Karma Grove </h2>


  <div class="span12 well">
    <p>Karma Grove came about as a dream of a college student studying international business and finance.  Joshua Montross was a bit disappointed with the constant pushing of rational self interets meaning to maximize profits.  He wanted to create a cafe called Karma Grove Cafe and make it exist to both create some profits and to help the community.  

</p>
<p>
  This website and system of Karma Grove is his dream mixed with effort to create a reality where more businesses are able to give to charity as they receive.  One day we will open the cafe.  Until then, we make the software possibly for others to easily operate their businesses with greater community consciousness, which we believe may actually increase your sales in the end.
</p>


  </div>
  </div>
<h2> Copyright Information </h2>
<p>
  For Karma Grove's licensing information <a class="modal-popup" data-controls-modal="copyright-modal" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#copyright-modal">
  <b>click here</b>
</a>.
</p>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="copyright-modal" tabindex="-1" role="dialog" aria-labelledby="copyright-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="copyright-modalLabel">
          Karma Grove Copyright Information
        </h4>
      </div>
      <div class="modal-body">
        <!-- Add more copyright info -->
        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Karma Grove</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://karmagrove.com" property="cc:attributionName" rel="cc:attributionURL">Joshua Montross</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://karmagrove.com" rel="dct:source">http://karmagrove.com</a>.
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
