<h1>New Invoice</h1>

<%= render 'form' %>

<%= link_to 'Back', invoices_path %>


<div class="invoicePage clientInvoice">
	<div class="clipBoard">
		<img alt="Newclip+(1)" class="clip" src="https://s3-us-west-2.amazonaws.com/invoice-static/newclip+(1).png" />
		<div class="invoicePaper">
			<div class="invoiceHeader">
				<div class="issueInfo">
					<div class="issueGroup">
						<h5>Date Issued</h5>
						<p>12 September 2014</p>
					</div>
					<div class="issueGroup">
						<h5>Due</h5>
						<p>15 September 2014</p>
					</div>
					<div class="issueGroup">
						<h5>Issued To</h5>
						<p>Waveney Hudlin</p>
					</div>
				</div>
				<div class="invoiceLogo">
					<img alt="Mailstamp" src="https://s3-us-west-2.amazonaws.com/invoice-static/mailstamp.png" />
					<div class="invoiceLogoGroup">
						<h5>From</h5>
							<img alt="Munologo" class="logoImage" src="http://s3.amazonaws.com/invoice_dynamic/users/avatars/000/000/004/original/munologo.png?1411843434" />
					</div>
				</div>
			</div>
			<div class="invoiceTitle">
				<h2>Invoice</h2>
				<h6>No<span>.</span> 1</h6>
			</div>
			<div class="entriesChart">
				<div class="tableTitles">
		      <h4 class="emptyTitle"></h4>
		      <h4 class="fixedTitleTitle">Title</h4>
		      <h4 class="costTitle">Cost</h4>
		      <hr>
		    </div>
		    	<p class="emptyTitle">1</p>
		      <p class="fixedTitleTitle">Website creation for Pasta Business</p>
		      <p class="costTitle">$1500.00</p>
		      <hr class="tableHr">
		    	<p class="emptyTitle">2</p>
		      <p class="fixedTitleTitle">Logo and branding design</p>
		      <p class="costTitle">$300.00</p>
		      <hr class="tableHr">
		    	<p class="emptyTitle">3</p>
		      <p class="fixedTitleTitle">Graphic art and custom iconography</p>
		      <p class="costTitle">$450.00</p>
		      <hr class="tableHr">
		   	<div class="subTotalArea">
		   		<span class="subtotal">Total</span> <span class="totalCostInvoice">$2250.00</span>
		   	</div>
			</div>
		</div>
			<a class="payButton" href="#">Pay Now</a>
			<form accept-charset="UTF-8" action="/muno-creative/invoices/waveney-hudlin-6edb7de5-4dda-4d00-8e4e-2a15a18f0a78/client_view/8/charge" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="W4Ha4zK8btkjb675Jxp2JqAIt+FgP4a7vWJoxzAao1w=" /></div>
			  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			          data-key="pk_live_Q9jxUAKS4ZiB516QgnTZnJoN"
			          data-name="Winvoice"
			          data-description="Invoice #1 from Muno Creative"
			          data-amount="225000"></script>
</form>	</div>
	<p class="poweredBy">Powered by <a href="/" target="_blank">Winvoice</a></p>
</div>