Available charities

<%= form_for :charity_user do |f| %>

<%= collection_select(:charity_user, :charity_id, Charity.all, :id, :name) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



    
  