<br /><br /><br /><br /><br />

<div class="chart">
<div class="ct-chart">

</div>
</div>

<script type="text/javascript">
new Chartist.Line('.ct-chart', {
  labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
  series: [
    [12, 9, 7, 8, 5],
    [2, 1, 3.5, 7, 3],
    [1, 3, 4, 5, 6]
  ]
}, {
  fullWidth: true,
  chartPadding: {
    right: 40
  }
});
</script>

<% @donations.each do |donation| %>
<div>
  <div>
  <h3> Charity: <%= link_to donation.charity.name, "/charities/#{donation.charity.id}" %> </h3>
  </div>
  <div>
  Amount: <%= '%.2f' % (donation.donation_amount/100.0) %>
  </div>
  <div>
  Date: <%= "#{donation.created_at.month}-#{donation.created_at.day}-#{donation.created_at.year}" %> 
  </div>
</div>
<br />

<% end %>
