<ul class="carrousel-orbit" data-orbit>
  <li>
    <%=  link_to image_tag("photo1.jpg"), "/Get-Involved" %>
    <div class="orbit-caption">
     Each batch of Karma coins is locally prepared with love and superfood 
    </div>
  </li>
  <li class="active">
     <%=  image_tag("ocean_sun_asana.jpg") %>
    <div class="orbit-caption">
       Wear a sunrise crown <br />Cultivate your karma. 
    </div>
  </li>
  <li>
    <%=  link_to image_tag("karmabar.jpg"), "/Karma-Coin" %>
    <div class="orbit-caption">
      The superfoods' color reveals the vibrant life nourishing nutrient profile 
    </div>
  </li>
  <li>
    <%=  link_to image_tag("ocean.jpg"), "/Karma-Coin" %>
    <div class="orbit-caption">
      We sit at the ocean's edge feeling the sunrise and waves crashing 
    </div>
  </li>
</ul>