
<div class="well" style="background-color:yellow;">
<h3 style="text-align: center"> Only visible to you 
</h3>
<div class="row">
<div class="large-3 columns">
<!-- <button class="center middle" style="text-align:center;align:center" id="editProduct">
Edit Product
</button> -->
<%= link_to 'Click to edit this product', edit_user_product_path(:user_id =>current_user.id, :product=> @product), :type => "button" %>   <br />
</div>
<div class="large-6 columns" style="text-align:center;">
<button class="center middle" style="text-align:center;align:center" id="copyButton">Clicking here copies this product link to your clipboard to share with your customers!</button><br><br>
</div>
<div class="large-3 columns" style="text-align:center;">
<a target="new" href="/users/<%=@product.user.id%>/products/<%=@product.id%>?customer_view=true"
<button class="center middle" style="text-align:center;align:center" id="newPageButton">View how your customer sees this page.</button><br><br>
</a>
</div>
</div>
</div>

<script type="text/javascript">

document.getElementById("copyButton").addEventListener("click", function() {
    copyToClipboard(document.URL);
});

function newPageButton(){

}

function copyToClipboard(url) {
    // create hidden text element, if it doesn't already exist %> 

    var targetId = "_hiddenCopyText_";
    
        // must use a temporary form element for the selection and copy
        target = document.getElementById(targetId);
        if (!target) {
            var target = document.createElement("textarea");
            target.style.position = "absolute";
            target.style.left = "-9999px";
            target.style.top = "0";
            target.id = targetId;
            document.body.appendChild(target);
        }
        target.textContent = url;
    
    // select the content
    var currentFocus = document.activeElement;
    target.focus();
    target.setSelectionRange(0, target.value.length);
    
    // copy the selection
    var succeed;
    try {
          succeed = document.execCommand("copy");
    } catch(e) {
        succeed = false;
    }
    // restore original focus
    if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
    }
    
    
        // clear temporary content
        target.textContent = "";

    return succeed;
}
</script>