<div class="row">
<div class="large-12 columns">
<h3>  Interested in Joining?  </h3>
<h4> <a href="mailto:joshua@karmagrove.com?subject=I want to join karma grove community"> Send us a message </a> </h4>

<h3> Already a member and want information to show differently? </h3>
<h4> <%= link_to("login","/users/sign_in") %></h4>
</div>
</div>