<div class="row">
  <div class="large-5 large-centered columns">
    <h1> Make a new sale </h1>
    
    <!-- <p><%= link_to("Make a new sale", new_charge_path( {:foo => "bar"})) %> </p> -->
    <!--  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>if (typeof jQuery === 'undefined') {
      document.write(unescape('%3Cscript%20src%3D%22/path/to/your/scripts/jquery-2.1.4.min.js%22%3E%3C/script%3E'));
    };
    </script>
     -->
    <script src="https://checkout.stripe.com/checkout.js"></script>
    Amount:    <input id="amount"></input> 
    Description: <input id="description" default="description of sale"></input>
    <button id="customButton" class="right radius">Purchase Now</button> <br />
    <!-- <button id="customButton">Send invoice</button> -->
    <script>
    
      var handler = StripeCheckout.configure({
        key: '<%=ENV['STRIPE_PUBLISHABLE_KEY']%>',
        image: '/assets/karma_circle.png',
        token: function(token) {
          console.log(token.id)
          $.ajax({
               type: "POST",
               url: "/charges",
               format: "json",
               data: {"stripeToken":token.id,
                 "stripeEmail": token.email,
                 format: "json",
                 amount: $('#amount').val()*100,
                 description: $('#description').val()
               },
               success:function(resp){
                 window.location.replace("/charges")
                 console.log(resp)
    
               },
               error: function(resp){
                console.log("fail!");
                 console.log(resp);
                 // alert(resp)
                 window.location.replace("/")
               }
            });
      //     token.id can be used to create a charge or customer.
        // token.email contains the email address entered by the user. 
          // Use the token to create the charge with a server-side script.
          // You can access the token ID with /var/folders/01/9kl8k6q95x70pk__0jl129w00000gn/T/TextMate_snippet_command.dsgTtM: line 4: token.id: command not found
        }
      });
    
      $('#customButton').on('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: '<%=current_user.name%>',
          description: $('#description').val(),
          amount: $('#amount').val()*100
        });
        e.preventDefault();
      });
    
      // Close Checkout on page navigation
      $(window).on('popstate', function() {
        handler.close();
      });
    </script>
    
    
    </div>

</div>
<div class="large-5 large-centered columns">
    <div class="right">
 <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.karmagrove.com' target='_blank' rel='nofollow'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
 </div>
 </div>