<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>


<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_w5BDNvBFAjPzc5qJJRusg93V"
    data-image="/img/documentation/checkout/marketplace.png"
    data-name="Karma Grove LLC"
    data-description="2 widgets"
    data-amount="2000">
  </script>
</form>

<% end %>

